.nodered/flows_DESKTOP-AI42RNH.json
[{"id":"c13ef7a0260e2768","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"4a7fc9db866cb650","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","tls":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"92ac62e196c59fa9","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0bf5aca0560dfef1","type":"ui_tab","name":"SALLE 2.1","icon":"dashboard","disabled":false,"hidden":false},{"id":"191da9b8c6048b51","type":"ui_group","name":"TEMPERATURE","tab":"0bf5aca0560dfef1","order":1,"disp":true,"width":"9","collapse":false,"className":""},{"id":"fed3ee6456df77ed","type":"ui_group","name":"HUMIDITY","tab":"0bf5aca0560dfef1","order":2,"disp":true,"width":"9","collapse":false,"className":""},{"id":"6227b7276703b52f","type":"ui_group","name":"CONTROLE","tab":"0bf5aca0560dfef1","order":4,"disp":true,"width":"9","collapse":false,"className":""},{"id":"da78b93e17b6c601","type":"ui_group","name":"GAZ CONCENTRATION (ppm)","tab":"0bf5aca0560dfef1","order":3,"disp":true,"width":"9","collapse":false,"className":""},{"id":"c94027ad199bf9b0","type":"ui_spacer","z":"c13ef7a0260e2768","name":"spacer","group":"6227b7276703b52f","order":5,"width":"1","height":"8"},{"id":"e9629d6195803811","type":"ui_spacer","z":"c13ef7a0260e2768","name":"spacer","group":"da78b93e17b6c601","order":3,"width":"1","height":"5"},{"id":"3c372da6c3c5d6ce","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ce715d14e58596c9","type":"mqtt in","z":"c13ef7a0260e2768","name":"","topic":"/feed/temperature","qos":"0","datatype":"auto-detect","broker":"4a7fc9db866cb650","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":80,"wires":[["311be6bece1292c5","ca6717c37210147d","617e08ddecd00fca","982807e59f7e77c1"]]},{"id":"ca6717c37210147d","type":"debug","z":"c13ef7a0260e2768","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":60,"wires":[]},{"id":"8a387fd5b841f604","type":"ui_text","z":"c13ef7a0260e2768","group":"191da9b8c6048b51","order":1,"width":0,"height":0,"name":"","label":"Température = ","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":760,"y":120,"wires":[]},{"id":"311be6bece1292c5","type":"ui_chart","z":"c13ef7a0260e2768","name":"","group":"191da9b8c6048b51","order":3,"width":0,"height":0,"label":"Evolution Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":540,"y":260,"wires":[[]]},{"id":"387fafae65d8921e","type":"mqtt in","z":"c13ef7a0260e2768","name":"","topic":"/feed/humidity","qos":"0","datatype":"auto-detect","broker":"4a7fc9db866cb650","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":460,"wires":[["23ca4de442545d73","d9813fb409075891","6605d1cb6e9590d8","615db68e2197c13e"]]},{"id":"d9813fb409075891","type":"debug","z":"c13ef7a0260e2768","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":440,"wires":[]},{"id":"e460379c482cb616","type":"ui_text","z":"c13ef7a0260e2768","group":"fed3ee6456df77ed","order":2,"width":0,"height":0,"name":"","label":"Humidité  = ","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":770,"y":500,"wires":[]},{"id":"23ca4de442545d73","type":"ui_chart","z":"c13ef7a0260e2768","name":"","group":"fed3ee6456df77ed","order":4,"width":0,"height":0,"label":"Evolution Humidité (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":540,"y":620,"wires":[[]]},{"id":"6605d1cb6e9590d8","type":"ui_gauge","z":"c13ef7a0260e2768","name":"","group":"fed3ee6456df77ed","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidty","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":520,"y":560,"wires":[]},{"id":"20206f8650f8c9f9","type":"ui_switch","z":"c13ef7a0260e2768","name":"","label":"Switch 1","tooltip":"","group":"6227b7276703b52f","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":360,"y":760,"wires":[["446f2636ad10bf13","c258e50902830465"]]},{"id":"446f2636ad10bf13","type":"function","z":"c13ef7a0260e2768","name":"function 1","func":"var d ;\nd =msg.payload;\nif (d== true) msg.payload=\"ON\"; else msg.payload = \"OFF\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":860,"wires":[["d61bb189e87b90c2"]]},{"id":"d61bb189e87b90c2","type":"ui_text","z":"c13ef7a0260e2768","group":"6227b7276703b52f","order":3,"width":0,"height":0,"name":"","label":"COMMANDE = ","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":660,"y":860,"wires":[],"info":"msg.color = (msg.payload== \"ON\") ? 'green' : 'red';"},{"id":"617e08ddecd00fca","type":"function","z":"c13ef7a0260e2768","name":"function 2","func":"if (msg.payload==\"nan\") msg.payload =\"Capteur deconnecté\"; \nelse\nmsg.payload=msg.payload.toFixed(2)+\" °C\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":120,"wires":[["8a387fd5b841f604"]]},{"id":"c8ba62064ed9ee2a","type":"mqtt out","z":"c13ef7a0260e2768","name":"","topic":"/feed/onoff1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4a7fc9db866cb650","x":830,"y":760,"wires":[]},{"id":"615db68e2197c13e","type":"function","z":"c13ef7a0260e2768","name":"function 3","func":"if(msg.payload==\"nan\") msg.payload=\"Capteur deconnecté\";\nelse\nmsg.payload=msg.payload+\" %\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":500,"wires":[["e460379c482cb616"]]},{"id":"982807e59f7e77c1","type":"ui_widget_thermometer","z":"c13ef7a0260e2768","group":"191da9b8c6048b51","order":2,"width":0,"height":0,"name":"","title":"","numColor":3,"colorTop":"#2196f3","colorMiddle":"#8bc34a","colorBottom":"#f44336","unit":"°C","scale":"normal","minTemp":0,"maxTemp":100,"minTempMoreThanMaxTemp":"1","numberOfDecimals":"0","showPercentage":"0","currentTempFontSize":"1.2","x":590,"y":200,"wires":[]},{"id":"16812588bc6a3bd8","type":"ui_switch","z":"c13ef7a0260e2768","name":"","label":"Switch 2","tooltip":"","group":"6227b7276703b52f","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":360,"y":980,"wires":[["0f5f53a984ebe642","977d55db63f29d43"]]},{"id":"0f5f53a984ebe642","type":"function","z":"c13ef7a0260e2768","name":"function 12","func":"var d ;\nd =msg.payload;\nif (d== true) msg.payload=\"ON\"; else msg.payload = \"OFF\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1080,"wires":[["05e9b1c963816003"]]},{"id":"05e9b1c963816003","type":"ui_text","z":"c13ef7a0260e2768","group":"6227b7276703b52f","order":4,"width":0,"height":0,"name":"","label":"COMMANDE = ","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":660,"y":1080,"wires":[],"info":"msg.color = (msg.payload== \"ON\") ? 'green' : 'red';"},{"id":"6be5f43646baa94c","type":"mqtt out","z":"c13ef7a0260e2768","name":"","topic":"/feed/onoff2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4a7fc9db866cb650","x":810,"y":960,"wires":[]},{"id":"c258e50902830465","type":"function","z":"c13ef7a0260e2768","name":"function 13","func":"var d ;\nd =msg.payload;\nif (d== true) msg.payload=\"1\"; else msg.payload = \"0\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":760,"wires":[["c8ba62064ed9ee2a"]]},{"id":"977d55db63f29d43","type":"function","z":"c13ef7a0260e2768","name":"function 14","func":"var d ;\nd =msg.payload;\nif (d== true) msg.payload=\"1\"; else msg.payload = \"0\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":980,"wires":[["6be5f43646baa94c"]]},{"id":"4de3fd8772cb5a33","type":"mqtt in","z":"c13ef7a0260e2768","name":"","topic":"/feed/co","qos":"0","datatype":"auto-detect","broker":"92ac62e196c59fa9","nl":false,"rap":true,"rh":0,"inputs":0,"x":300,"y":1240,"wires":[["eec08a07a1d86a32","4412f96a7d27a8f8","94b5ff10cb5ea240"]]},{"id":"4412f96a7d27a8f8","type":"debug","z":"c13ef7a0260e2768","name":"debug 23","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":1220,"wires":[]},{"id":"618dbcdb2ad6a564","type":"ui_text","z":"c13ef7a0260e2768","group":"da78b93e17b6c601","order":2,"width":0,"height":0,"name":"","label":"ppm (CO)  = ","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":850,"y":1280,"wires":[]},{"id":"eec08a07a1d86a32","type":"ui_chart","z":"c13ef7a0260e2768","name":"","group":"da78b93e17b6c601","order":4,"width":0,"height":0,"label":"Evolution GAZ CO-LPG en ppm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":1400,"wires":[[]]},{"id":"94b5ff10cb5ea240","type":"function","z":"c13ef7a0260e2768","name":"function 15","func":"if(msg.payload==\"nan\") msg.payload=\"Capteur deconnecté\";\nelse\nmsg.payload=msg.payload+\" ppm\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1280,"wires":[["618dbcdb2ad6a564"]]},{"id":"dab7dfbe5f419ad6","type":"mqtt in","z":"c13ef7a0260e2768","name":"","topic":"/feed/LPG","qos":"0","datatype":"auto-detect","broker":"92ac62e196c59fa9","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":1400,"wires":[["eec08a07a1d86a32","c403a3229f975d68"]]},{"id":"c403a3229f975d68","type":"function","z":"c13ef7a0260e2768","name":"function 16","func":"if(msg.payload==\"nan\") msg.payload=\"Capteur deconnecté\";\nelse\nmsg.payload=msg.payload+\" ppm\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1500,"wires":[["a69212265317bf9e"]]},{"id":"a69212265317bf9e","type":"ui_text","z":"c13ef7a0260e2768","group":"da78b93e17b6c601","order":1,"width":0,"height":0,"name":"","label":"ppm (LPG)  = ","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":710,"y":1500,"wires":[]}]